
/* bodyタグ */
	body{
		margin:0;
		padding:0;
		background-color:#fffafa;
	}

/* header */
	div#header {
		height:77px;	/* 背景画像のサイズに合わせてボックスの高さを指定 */
		background-image:url("../img/big-haikei.jpeg");	/* ヘッダ部分の背景画像 */
		background-repeat:no-repeat; 		/* 背景画像を繰り返さない */
		background-color:#000000;		/* ヘッダ部分の背景色 */
		padding-top:1px; /* headerの画像を上に詰める */
	}

/* h1タグ　headerで使用*/
	h1 {
		padding:0px 0px 0px 30px;		/*見出し内容の位置調整*/
		font-family:Arial, Helvetica, sans-serif;	/*フォントの種類*/
		color: #000000; /* 色の設定（意味ない）*/
	}

/* h1の中のaタグ hederの文字 */
	h1 a {
		text-decoration:none;	/*リンクの下線を無くす*/
		color: #000000; /* 色の設定 */
	     } 	

/* メインメニュー */
	.nav {
	    display: table;
	    width: 100%;
	    /* background: #87cefa; */
	    /* background: #adff2f; */
	    table-layout:fixed;
	    font-weight: bold;
            padding: 0.25em 0.5em;
            text-decoration: none;
            border-bottom: solid 3px #668ad8;
            border-left: solid 3px #668ad8;
            color: #668ad8;
	    position:absolute;
	    top:60px;
	}

	.nav__item {
	    display: table-cell;
	    text-align: center;
	    vertical-align: middle;
	}

	.nav__item + .nav__item {
	    border-left: 1px solid #CCC;
	}

	.nav__item a {
	    display: block;
	    padding: 15px 0;
	    color: #666;
	    text-decoration: none;
	    font-size: 14px;
	}

	.nav__item:hover {
	    padding-left: 0.7em;
            padding-right: 0.3em;
	}

/* fottor */
	div#footer {
	    position: fixed;
	    bottom: 0;
	    width: 100%;
	    height:30px;	/* 背景画像のサイズに合わせてボックスの高さを指定 */
	    background-image:url("../img/big-haikei.jpeg");	/* ヘッダ部分の背景画像 */
	    background-repeat:no-repeat; 		/* 背景画像を繰り返さない */
	    background-color:#000000;		/* ヘッダ部分の背景色 */
	}

	h2 {
	   border-bottom: solid 3px #cce4ff;
	   width: 50%;
	   position: relative;
	}

	h2:after {
	   position: absolute;
	   content: " ";
	   display: block;
	   border-bottom: solid 3px #5472cd;
	   bottom: -3px;
	   width: 20%;
	}

/* Twitter Button */
	.fl_tw2{/*ボタンの背景*/
		color: #FFF;/*文字・アイコン色*/
		border-radius: 7px;/*角丸に*/
		display: inline-block;
		height: 50px;/*高さ*/
		width: 190px;/*幅*/
		text-align: center;/*中身を中央寄せ*/
		font-size: 25px;/*文字のサイズ*/
		line-height: 50px;/*高さと合わせる*/
		vertical-align: middle;/*垂直中央寄せ*/
		background: #1da1f3;
		overflow: hidden;/*はみ出た部分を隠す*/
		text-decoration:none;/*下線は消す*/
	  }
	  
	  .fl_tw2 .fa-twitter {
		  text-shadow: 2px 2px 0px #4287d6;
		  font-size: 30px;
	  }
	  
	  .fl_tw2 span {/*テキスト*/
		display:inline-block;
		transition: .5s}
	  
	  .fl_tw2:hover span{/*ホバーで一周回転*/
		-webkit-transform: rotateX(360deg);
		-ms-transform: rotateX(360deg);
		transform: rotateX(360deg);
	  }

/* 文字を囲む枠 */
	.box {
		position: relative;
		margin: 2em 0;
		padding: 0.5em 1em;
		border: solid 3px #95ccff;
		border-radius: 8px;
		width: 50%;
	}
	.box .box-title {
		position: absolute;
		display: inline-block;
		top: -13px;
		left: 10px;
		padding: 0 9px;
		line-height: 1;
		font-size: 19px;
		background: #FFF;
		color: #95ccff;
		font-weight: bold;
	}
	.box p {
		margin: 0; 
		padding: 0;
	}

	/* textを中央で左寄せする　*/
	.txt {
		display: inline-block;
		text-align: left;
	}
	
	/* TOPページに戻るボタン */
	.square_btn{
		display: inline-block;
		padding: 0.5em 1em;
		width: 30%;
	    height:30px;	
		text-decoration: none;
		color: #FFF;
		background-image: -webkit-linear-gradient(#6795fd 0%, #67ceff 100%);
		background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
		transition: .4s;
	}
	
	.square_btn:hover{
		background-image: -webkit-linear-gradient(#6795fd 0%, #67ceff 70%);
		background-image: linear-gradient(#6795fd 0%, #67ceff 70%);
	}