* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: rgb(250, 250, 251);
  font-family: "Noto Sans Japanese";
}

body {
  margin: 0;

}

header {
  padding: 20px 0;
  background-color: rgb(82, 100, 119);
}

.header-bottom-space {
  height: 20px;
}

.select {
  text-align: center;
  background-color: rgb(82, 100, 119);
}

button {
  background-color: rgb(82, 100, 119);
  color: white;
  width: 23%;
  border-radius: 4px;
  border: none;
  /* color: rgb(82, 100, 119); */
  cursor: pointer;
}

.buttons{
  font-size: 18px;
}

.button-active {
  text-decoration: underline rgb(247, 248, 248) 2.1px;
}

.hidden {
  display: none;
}

h1 {
  color: rgb(110, 143, 179);
}

h3 {
  color: rgb(86, 113, 141);
}

a {
  text-decoration: none;
  border-bottom: 1px dotted rgb(146, 184, 224);
  color: rgb(110, 143, 179);
  font-size: 25px;
}


.image-top {
  width: 100%;
}

.terasu-wrapper{
  display: flex;
}

.terasu1{
  width: 50%;
  display:inline-flex;
  padding: 20px;
  padding-left: 100px;
}

.terasu2{
  width: 50%;
  display: inline-flex;
  padding: 20px;
  padding-right: 100px;
}

.tema {
  text-align: center;
}

p {
  /*color: slategray;*/
  color: slategray;
  padding: 0px 0px;
  font-size: 25px;
  width: 80%;
  margin: 0 auto;
}

.tema {
  margin: 100px 0px;
}

.tema h1 {

  color: rgb(83, 94, 106);
  padding: 40px 40px 10px 40px;
  font-size: 40px;
}

.tema p {
  padding: 20px 0px 40px 0px;
}

.mogiten {
  margin-bottom: 100px;
  text-align: center;
}

.mogiten a{
  border-bottom: none;
}

.mogiten-title {
  color: rgb(110, 143, 179);
  margin-bottom: 25px;
  /*background-color: slategray;
  color:white;*/

}

.mogi-button{
  flex: auto;
  font-size: 25px;
  margin: 20px;
  width: 18%;
  border-radius: 10px;
}


.mogi-buttons{
  display: flex;
  text-align: center;
}

.mogi-button-negactive{
  opacity: 0.3;
}

.void{
  display: inline;
  /* width: 200px; */
  width: 33%;
}

#mask {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  width: 70%;
  height: 70%;
  padding: 24px;
  border-radius: 4px;
  color: red;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}

.modal-wrapper p{
  font-size: 25px;
}

.modal-description{
  margin:10px;
}

#js-class{
  margin: 0px 0px 5px 0px;
  display: inline-block;
}

#js-location{
  margin: 5px 0px 10px 0px;
  display: inline-block;
  color: brown;
  font-size: 22px;
}

#push-img{
  height: 200px;
}

.class-contents,.club-contents {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  left: 10%;
  text-align: center;
  position: relative;
}

.shop {
  flex: auto;
  margin: 0 auto;
  width: 25%;
  height: 300px;
  /* background-color: aqua; */
  /* border: 2px solid blue; */
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}

.shop a {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  /*上下左右中央に*/
  width: 80%;
  /*widthの指定は必須*/
  height: 80%;
  /*heightの指定は必須*/
  cursor: pointer;
}

.shop img {
  /* max-height: 100%;
  width: auto; */
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.holder {
  padding: 5px;
  display: inline;
  background-color: rgb(223, 242, 245);
  color: rgb(74, 131, 146);
  border-radius: 4px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.goast {
  height: 70%;
}

/*.mogiten-title h1{
  border-radius: 10px;
  padding: 10px 20px;
  display: inline-block;
  background-color: slategray;
  color:aliceblue;
}*/

.flyer {
  text-align: center;
}

.flyer h1 {
  color: rgb(110, 143, 179);
}

.flyer a {
  display: block;
  margin-top: 40px;
  text-decoration: none;
  border-bottom: 1px dotted white;
}


.up {
  font-size: 20px;
}

.sche-map-title {
  text-align: center;
  margin-bottom: 20px;
}

.flyer {
  margin-bottom: 100px;
}

.sche-map {
  color: slategray;
  width: 80%;
  margin: 0 auto;
}

.sche-map h3 {
  display: inline-block;
  margin-bottom: 10px;
}

.sche-map a {
  display: block;
  width: fit-content;
  font-size: 18px;
}

.all {
  margin-right: 20px;
}

.sche {
  display: inline-block;
  margin-bottom: 20px;
}

.all:hover {
  border-bottom: 1px dotted rgb(84, 150, 221);
  /* color: rgb(110, 143, 179); */
  color: rgb(84, 150, 221);
}

.sche:hover {
  border-bottom: 1px dotted rgb(84, 150, 221);
  /* color: rgb(110, 143, 179); */
  color: rgb(84, 150, 221);
}

.in_school:hover {
  border-bottom: 1px dotted rgb(84, 150, 221);
  /* color: rgb(110, 143, 179); */
  color: rgb(84, 150, 221);
}

.bus {
  font-size: 18px;
}