@media screen and (max-width: 600px) {
  h1{
    font-size: 30px;
  }

  .tema{
    margin-top: 20px;
    margin-bottom: 30px;
  }

  p{
    font-size: 20px;
    width:80%;
  }

  .buttons{
    font-size: 12px;
  }

  .tema p{
    padding:10px 0px 50px 0px;
    margin-bottom: 0px;
  }

  .flyer-img{
    width: 60%;
  }
  
  .cover{
    width: 70%;
  }

  .shop{
    width: 50%;
    height: 160px;
  }

  .shop img{
    box-shadow: 5px 5px #ccd8e9;
  }

  .pc-only{
    display: none;
  }

  .mogi-button{
    width: 30%;
    font-size: 18px;
    padding-left: 0.7em;
    padding-right: 0.7em;
  }

  .void{
    width: 20%;
  }

  .shop{
    margin-bottom: 50px;
  }

  .holder{
    top:113%;
  }

  #js-class{
    display: inline-block;
    font-size: 18px;
  }
  
  #js-location{
    font-size: 15px;
  }

  #js-text{
    font-size: 18px;
  }

  #modal{
    width: 90%;
    padding: 7% 0;
  }

  .terasu-wrapper{
    display: block;
    text-align: center;
  }

  .terasu1{
    width: 80%;
    display: inline;
    margin: 0 auto;
    padding-left: 0px;
    padding: 0px;
  }
  
  .terasu2{
    width: 80%;
    display: inline;
    margin: 0 auto;
    padding-right: 0px;
    padding: 0px;
  }

  .modal-wrapper p{
    width: 100%;
    font-size: 25px;
  }

  #push-img{
    height: 150px;
  }

  .holder-mekatoro{
    top: 120%;
  }

  .day-content{
    display: block;
  }

  .schedule-img{
    width:100%;
  }
}