@media screen and (max-width: 600px) {
  h1{
    font-size: 30px;
  }

  .tema{
    margin-top: 20px;
    margin-bottom: 30px;
  }

  p{
    font-size: 20px;
    width:80%;
  }

  .tema p{
    padding:10px 0px 50px 0px;
    margin-bottom: 0px;
  }

  .flyer-img{
    width: 60%;
  }
  
  .cover{
    width: 70%;
  }

  .shop{
    width: 50%;
    height: 200px;
  }
  .pc-only{
    display: none;
  }

  .mogi-button{
    width: 30%;
    font-size: 18px;
    padding-left: 0.7em;
    padding-right: 0.7em;
  }

  .void{
    width: 20%;
  }

  .shop{
    margin-bottom: 50px;
  }

  .holder{
    top:110%;
  }

}