@media screen and (max-width: 600px) {
  h1{
    font-size: 30px;
  }

  .tema{
    margin-top: 20px;
    margin-bottom: 30px;
  }

  p{
    font-size: 20px;
    width:85%;
  }

  .tema p{
    padding:10px 0px 50px 0px;
    margin-bottom: 0px;
  }

  .flyer-img{
    width: 60%;
  }
  
  .cover{
    width: 70%;
  }
}

