@font-face {
    font-family: "aoyanagi";
    src: url(font/aoyagireisyosimo_ttf_2_01.ttf);
}

@media(min-width:1024px) {
    #guide_cover img {
        width:50%;
    }
    #next,#back{
        width:30%;
    }
    main,
    #background {
        width: 1024px;
        margin: 0 auto;
    }

    html,
    body {
        font-size: 31.25px;
    }

    #menu {
        height: 200px;
    }
}

@media(max-width:1023px) {
    #guide_cover img {
        width:80%;
    }
    #next,#back{
        width:40%;
    }
    main,
    #background,
    html,
    body {
        width: 100%;
        font-size: calc(100vw / 32);

    }

    #menu {
        height: 20vw;
    }
}

html,
body {
    background-image: url(image/haikei.jpg);
    background-attachment: fixed;
    font-family: sans-serif;
    margin: 0;
    position: relative;
    background-size: contain;
    color: rgb(255, 246, 196);
    font-weight: 700;
}

main {

    position: relative;
    z-index: 10;

}

#background {
    left: 50%;
    transform: translateX(-50%);
    background-image: url(image/背景.jpg);
    filter: brightness(70%);
    background-position-x: center;
    background-position-y: 50%;
    background-size: cover;
    height: 100vh;
    position: fixed;
    z-index: 1;
}

#menu {
    position: relative;
}


.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    position: absolute;
    bottom: 0;
}

.flex>* {
    width: 18%;

}

.flex>div>img {
    width: 100%;
}

#menu>ul>li>img {
    width: 100%;
    position: relative;
    bottom: 0;
}

#main {
    overflow: hidden;
    width: 100%;
    position: relative;
}

#main>.contents {
    top: 0;
    width: 100%;
    position: relative;
    display: none;
}

#main>.contents:first-child {
    display: block;
}
#main video{
    margin-bottom:10%;
}

#top>.date {
    text-align: center;
}

#top>.date img {
    transform: translateX(2.3%);
}

#top>#other {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-evenly;
}

#top>#other>div {
    font-size: 85%;
    text-align: center;
    width: 32%;
}

#top>#other>div p {
    margin: 0%;
}

#top>#other>div img {
    width: 100%;
}

#about {
    font-size: 120%;
    font-weight: bold;
}

#about #representative {
    font-weight: 500;
    font-size: 60%;
    width: 90%;
    margin: auto;
    color:rgb(255, 228, 150)
}

#about p,
h1 {
    text-align: center;
}

#introduce {
    width:1000%;
}
#introduce>.depart>*:not(img){
position: absolute;
top:0;
left:0;
}
#introduce>.depart {
    background-image: url(image/parts.png);
    background-size:100% 100%;
    position: relative;
    float: left;
    width:10%;
    text-align: center;
    padding-bottom:8%;
}

#buttons{
    width:100%;
text-align: center;
}

#introduce>.depart .comment {
    width:55%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left:50%;
    top:47%;
    overflow: hidden;
    transition-duration: 1s;
    max-height: 300%;
    font-size: 70%;
}
#introduce>.depart .comment p{
    margin:0;
    font-size:130%;

}


#main{
    width:85%;
    position: relative;
    left:50%;
    transform: translateX(-50%);
}
#main #title{
    font-size:200%;
    text-align:center;
}
#main #sub_title{
    text-align: center;
    font-size:120%;
}
#main video{
    width:80%;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    display:block;
}

#guide{
    font-size: 110%;
    text-align:center;
}
#guide div {
    text-align: center;
}

#guide>div:first-child {
    font-size: 130%;
    font-weight: 300;
}

#guide .map {
    width: 80%;
    display: block;
    margin: 0 auto;
}

#guide .mapParts {
    display: flex;
}

#guide .mapParts .parts {
    text-align: center;
    width: 33%;
}

#guide_cover {
    width: 100%;
    height: 100%;
    background: rgba(68, 67, 67, 0.8);
    position: absolute;
    top: 0;
    display: none;
    position: fixed;
    z-index: 11;
}

#guide_cover img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#access {
    width: 95% !important;
    font-size: 80%;
    position: relative;
    left:50%;
    transform: translateX(-50%);
}

#access .time_to_d {
    width: 90%;
    display: block;
    margin: auto;
    padding-bottom: 70.5%;
}

#access>h2 {
    color: rgb(255, 217, 107);
}

#access .time_to_d img {
    width: 50%;

    float: left;
    display: block;
}