<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>45th 徳山高専　高専祭</title>
    <link rel="stylesheet" href="index.css">

    <script src="index.js" defer></script>
</head>


<body>
    <div id="background">
    </div>
    <main>
        <div id="menu">
            <div class="flex">
                <div v-for="item in items">
                    <img v-bind:src="item.image" v-bind:id="item.id" v-on:click="changeContents">
                </div>
            </div>
        </div>
        <div id="main">
            <div class="contents 1" id="top">

                <div class="date">
                    <h1>第45回徳山高専高専祭</h1>
                    <img src="Image/logo.jpg">
                    <div>11月2日、3日開催！</div>
                    <div>場所　徳山工業高等専門学校</div>
                </div>
                <br><br><br>
                <div id="other">
                    <div id="robokon">
                        <p>周南ロボコンはこちら</p>
                        <a target="_blank" href="https://www.tokuyama.ac.jp/robocon/2019/index.html">
                            <img src="Image/bnr_robocon2.jpg">
                        </a>
                    </div>
                    <div id="gakuseikai">
                        <p>学生会HPはこちら</p>
                        <a target="_blank" class="HomePage_btn" href="https://nittcgak.github.io/"><img
                                src="./Image/btn-gakuseikai.png"></a>
                    </div>
                    <div id="twitter">
                        <p>フォローはこちら</p>
                        <a target="_blank" href="https://twitter.com/nittc_gak"><img
                                src="Image/Twitter_Logo_WhiteOnBlue.png"></a>
                    </div>
                </div>
                Copyright © 2019 National Institute of Technology, Tokuyama College Student Council All Rights Reserved
            </div>
            <div class="contents 2" id="about">
                <h1>第45回高専高専祭</h1>
                <div id="representative">
                    今年の高専祭のテーマは「Be ambitious」です。日本語に訳すと「大志を抱け」という意味で、これには、一人一人が高専祭という一つのイベントに対して様々な大きな志を持って取り組んでほしい、という思いが込められています。今年は高専生の技術を用いたメイン企画やお化け屋敷、クラスや部活によるバザー、学生たちが盛り上げる様々なステージ企画など、たくさんの企画を開催しています。ぜひ、足を運んでみてください。最後になりましたが、93人もの実行委員たちが様々な志を持ち、一丸となって創り上げたこの高専祭を、ぜひ楽しんでください！
                </div>
                <p>
                    ーーーーー部署紹介ーーーーー
                </p>
                <div id="introduce">

                    <div class="depart" v-for="department in list">
                        
                        <div class="comment">
                                <p>{{department.name}}部署</p>
                            {{department.comment}}
                        </div>
                    </div>
                </div>
                <div id="buttons">
                    <img src="Image/backbutton.png" class="button" id="back">
                    <img src="Image/nextbutton.png" class="button" id="next">
                </div>  
            </div>
            <div class="contents 3" id="main">
                <div id="title">千二夜物語</div>
                <div id="sub_title">~徳山高専の消えた一夜~</div>
                あらすじ
                <div id="introduction">
                    ご存じだろうか。かの有名な千一夜物語に「幻の千二夜目」のお話が存在することを。長い時の中に埋もれた幻の一夜は、徳山高専に消えた最後の１ページと共に、今、千二百年の眠りから目覚めるー                    
                    <video src="movie/2019mainX.mp4" controls playsinline poster="Image/title.png" ></video>
                </div>
                
            </div>
            <div class="contents 4" id="guide">
                <div>全体図</div>
                <img class="map" src="Image/高専マップ_kai.png">
                クリックすると拡大します。
                <div class="mapParts">
                    <div class="parts">①専門科目棟
                        <img class="map" src="Image/配置図2019_専門棟2階.png"></div>

                    <div class="parts"> ②教室管理棟
                        <img class="map" src="Image/配置図2019_教室管理棟1F.png">
                        <img class="map" src="Image/配置図2019_教室管理棟2F.png"></div>

                    <div class="parts">③,④バザー通り
                        <img class="map" src="Image/バザー２.png">
                        <img class="map" src="Image/バザー.png">
                    </div>
                </div>
            </div>
            <div class="contents 5" id="access">
                <h2>バス ～Bus～</h2>
                <p class="list">・JR徳山駅前から防長交通バス</p>
                <p>「久米温泉口」行に乗車、「大学高専下」下車徒歩10分、運賃250円</p>
                <p>「徳山高専」行に乗車、「高専正門」下車すぐ、運賃250円</p>
                <p class="list">・JR櫛ヶ浜駅から防長交通バス</p>
                <p>「徳山高専」行に乗車、「高専正門」下車すぐ</p>
                <b>※運賃は異なる場合がございますので、多めの準備をお願いします</b>
                <h2>自動車 ～Car～</h2>
                <p>山陽自動車道 徳山東インターから約5分</p>
                <h2>タクシー ～Taxi～</h2>
                <p>JR徳山駅から約15分JR櫛ヶ浜駅から約10分</p>
                <h2>シャトルバスについて</h2>
                <p>
                    高専祭期間中、徳山駅〜徳山高専間での無料シャトルバスを運行しています。また、徳山大学ポプラ祭の無料シャトルバスもご利用いただけます。</p>
                <p>徳山高専の無料シャトルバスは徳山駅[みなと口(南口)]側から発車します。</p>
                <p>徳山大学の無料シャトルバスは徳山駅[みゆき口(北口)]側から発車します。

                    <h2>徳山高専無料シャトルバス時刻表</h2>
                    <div class="time_to_d">
                        <img src="Image/44ページ　バス時刻表　済.png">
                        <img src="Image/45ページ　バス時刻表　済.png">
                    </div>
            </div>
        </div>
        </div>
    </main>
    <div id="guide_cover"></div>
    <script src="vue.min.js"></script>
   
</body>


</html>